In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame({'Size':['s','m','l','xl','s','m','l','s','xl','m']})
df

  Size
0    s
1    m
2    l
3   xl
4    s
5    m
6    l
7    s
8   xl
9    m

In [15]:
ord_data = [['s','m','l','xl']]

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oe = OrdinalEncoder(categories=ord_data)
oe.fit(df[['Size']])

OrdinalEncoder(categories=[['s', 'm', 'l', 'xl']])

In [18]:
df['Size_en']=oe.transform(df[['Size']])

In [19]:
df

  Size  Size_en
0    s      0.0
1    m      1.0
2    l      2.0
3   xl      3.0
4    s      0.0
5    m      1.0
6    l      2.0
7    s      0.0
8   xl      3.0
9    m      1.0

In [20]:
#using map function

In [21]:
ord_data1 = {'s':0,'m':1,'l':2,'xl':3}

In [22]:
df['Size_en_map'] = df['Size'].map(ord_data)

TypeError: 'list' object is not callable

In [ ]:
df

In [16]:
dataset = pd.read_csv('loan.csv')
dataset.head(4)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y

In [17]:
dataset['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [18]:
en_data_or = [['Rural','Semiurban','Urban']]

In [22]:
oen = OrdinalEncoder(categories=en_data_or)
oen.fit(dataset[['Property_Area']])
dataset['Property_Area'] = oen.transform(dataset[['Property_Area']])

In [ ]:
datase